<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand p-2" href="/">Navbar</a>
        <div class="btn-group p-3">
          <a type="button" class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{ avatar_url }}" class="img-fluid dropdown-toggle rounded-circle" width="30" height="30" alt="{{ avatar_username }} avatar" id="avatar"></a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item disabled" href="#">Action</a></li>
            <li><a class="dropdown-item disabled" href="#">Another action</a></li>
            <li><a class="dropdown-item disabled" href="#">Something else here</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'account-settings' %}">Settings</a></li>
            <li><a class="dropdown-item" href="{% url 'chat:logout' %}">Logout</a></li>
          </ul>
        </div>
    </ul>
  </div>
</nav>
