{% extends 'base.html' %}

{% load static %}
{% load q_tags %}

{% block title %}
  django-channels-chat
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/room.css' %}"">
{% endblock style %}

{% block content %}
<div class="container mt-3 p-5">
  <h2>django-channels-chat</h2>

  <!-- TODO: Убрать в navbar и поменять логику нахождения avatar_url -->
  <figure>
    <img src="http://{{ req.get_host }}/media/{{ path }}" width="150" height="150" id="avatar"/>
    <figcaption id="username">{{ username }}</figcaption>
  </figure>

  <div class="row">
    <div class="col-12 col-md-8">
      <div class="mb-2">
        Room: #{{ room.name }}
        <div id="chatLog">
          {% comment %} <img src="#" alt="" id="q" width="150" height="150"> {% endcomment %}
          {% for message in messages %}
            <div class="message">
              <div class="message_user">
                <img src="{{ message.user.avatar.photo.url }}" width="40" height="40" class="avatar">
                <div>{{ message.user.username }}:</div>
              </div>

              <div class="message_text">
                <img src={{ message | get_attachment_url }} width="160" height="80" />
                <div class="message_text__conteiner">{{ message.content }}</div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

      <form  id="sending_form">
        <div class="input-group">
          <div>
            <img src="#" alt="" id="q2" width="150" height="150">
          </div>
          <input
            type="text"
            class="form-control"
            id="chatMessageInput"
            placeholder="Enter your chat message"
          />
          <div class="input-group-append">
            <input type="file">
          </div>

          <div>
            <button id="updateMessageBtn">Load messages</button>
          </div>

          <div class="input-group-append">
            <button class="btn btn-success" id="chatMessageSend" type="button">
              Send
            </button>
          </div>
        </div>
      </form>
    </div>


    <div class="col-12 col-md-4" id="usersOnline">
      <!-- <label for="onlineUsers">Online users</label> -->
      Online users
      <!-- <select multiple class="form-control" id="onlineUsersSelector"></select> -->
      <div class="form-control" id="onlineUsersSelector"></div>
    </div>
  </div>
  {{ room.name|json_script:"roomName" }}
</div>
<script src="{% static 'room.js' %}"></script>
{% endblock content %}
